/*navBar*/
.topnav {
    background-color: #333;
    display: flex;
    align-items: center;
    width: 100%;
  }
  .topnav_link {
    color: white;
    padding: 12px;
    text-decoration: none;
  }
  .topnav_link:hover {
    color: #0078b4;
  }
  
  /* hide responsive menu */
  #topnav_hamburger_icon,
  #topnav_responsive_menu {
    display: none;
  }
  
  @media only screen and (min-width: 100px) {
   
  
    /* position home link at left and hamburger at right */
    #home_link {
      flex-grow: 1;
    }
  
    /* disable horizontal scrolling  */
    #root {
      position: relative;
      overflow-x: hidden;
    }
  
    /* show responsive menu and position at the right of the screen */
    #topnav_responsive_menu {
      display: block;
      position: absolute;
      margin: 0;
      right: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
  
      z-index: 99;
  
      transform-origin: 0% 0%;
      transform: translate(200%, 0);
  
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    }
  
    #topnav_responsive_menu ul {
      display: flex;
      flex-direction: column;
  
      position: absolute;
      margin: 0;
      right: 0;
      top: 0;
  
      min-width: 50vw;
      height: 100vh;
      padding: 56px 0 0;
  
      text-align: center;
  
      background: #ededed;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
    }
  
    #topnav_responsive_menu li {
      padding: 12px 24px;
    }
  
    #topnav_responsive_menu a {
      white-space: nowrap;
      color: #333;
      text-decoration: none;
    }
  
    /* And let's slide it in from the right */
    #topnav_responsive_menu.open {
      transform: none;
      position: fixed;
    }
  
    /* ******************** BURGER ICON ******************** */
    /* define size and position of the burger link */
    #topnav_hamburger_icon {
      display: block;
      position: relative;
      margin: 16px;
      width: 33px;
      height: 28px;
  
      z-index: 100;
  
      cursor: pointer;
    }
  
    /* define the style (size, color, position, animation, ...) of the 3 spans */
    #topnav_hamburger_icon span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      margin-bottom: 5px;
  
      background: #ededed;
      border-radius: 3px;
  
      z-index: 100;
  
      opacity: 1;
      left: 0;
  
      
      -moz-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.25s ease-in-out;
      -moz-transition: 0.25s ease-in-out;
      -o-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out;
    }
  
    /* set the 3 spans position to look like a hamburger */
    #topnav_hamburger_icon span:nth-child(1) {
      top: 0px;
      -webkit-transform-origin: left top;
      -moz-transform-origin: left top;
      -o-transform-origin: left top;
      transform-origin: left top;
    }
    #topnav_hamburger_icon span:nth-child(2) {
      top: 12px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }
    #topnav_hamburger_icon span:nth-child(3) {
      top: 24px;
      -webkit-transform-origin: left bottom;
      -moz-transform-origin: left bottom;
      -o-transform-origin: left bottom;
      transform-origin: left bottom;
    }
  
    /* change color when opening the menu */
    #topnav_hamburger_icon.open span {
      background: #333;
    }
  
    /* the first span rotates 45° \ */
    #topnav_hamburger_icon.open span:nth-child(1) {
      width: 110%;
      -moz-transform: rotate(45deg);      
      transform: rotate(45deg);
    }
  
    /* the second span disappears */
    #topnav_hamburger_icon.open span:nth-child(2) {
      width: 0%;
      opacity: 0;
    }
  
    /* the last span rotates -45° / */
    #topnav_hamburger_icon.open span:nth-child(3) {
      width: 110%;
       -moz-transform: rotate(-45deg);
       transform: rotate(-45deg);
    }
  }
  
  
  .d-none {
    display: none;
    
  }
  
  .open {
  
  display: inline-block;
  transform: rotate(90deg);
  }
  
  .instant {
    color: #0078b4;
    font-size: small;
  }
  
/* Navbar */
/* FOOTER */
.footer__wrapper {
    background: #ffffff;
    overflow: auto;
}

.footer__container {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__logo__text {
    display: flex;
}

.footer__social_network {
    box-sizing: border-box;
    width: 25%;
    padding: 15px 0;
    flex-shrink: 0;
}

.footer__title__network {
    font-weight: bold;
    margin-bottom: 10px;
}

.footer {
    font-size: 0.85rem;
    padding: 20px 0;
    line-height: 1.6;
    background: #333333;
}

.footer__text,
.footer__link,
.footer__title {
    color: #aaaaaa;
    padding: 3px 15px;
    display: block;
}

.footer__hr {
    height: 1px;
    border: none;
    background: #444444;
}

.footer__sections {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    align-items: center;
}

.footer__sections_PC {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    align-items: center;
}

.footer__section {
    box-sizing: border-box;
    width: 25%;
    padding: 15px 0;
    flex-shrink: 0;
}

.footer__section_PC {
    box-sizing: border-box;
    width: 25%;
    padding: 15px 0;
    flex-shrink: 0;
}

.footer__title {
    font-weight: bold;
    margin-bottom: 10px;
}

.footer__link {
    text-decoration: none;
}

.footer__link:hover {
    color: #cccccc;
    background: rgba(255, 255, 255, 0.15);
}

/* FOOTER */


@media screen and (min-width: 700px) {
    .footer__section { width: 50%; }
}

@media screen and (max-width: 701px) {
    .footer__section { width: 100%; }
    .footer__logo__text { display: flex;
        flex-direction: column; align-items: center;}
    .footer__sections_PC { display: none;}
}
/* FOOTER */
/******** reset ***************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
li, ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/********** main ***********************/
.main__container {
    margin: 0 auto;
    width: 80%;
}
/***** image *********/
.imgs img {
    border: 1px solid black;
    max-width: 80%;
    height: auto;
    margin:10%;
    box-shadow: 8px 8px 12px #aaa;
}

.size img {
    max-width: 95%;
    margin:5%;
    border: 1px solid black;
}

/********* texte ***************/

.text  {
    text-align: justify;
    line-height: 25px;
    font-family: 'Stick No Bills', sans-serif;
    margin: 0 5% 0 5%;
}

.text h3 {
    margin-bottom: 5%;
    font-family: 'Stick No Bills', sans-serif;
    text-align: center;
}

.text h2 {
    margin-bottom: 5%;
    font-family: 'Stick No Bills', sans-serif;
    text-align: center;
}

.text p {
    line-height: 30px;
}

/*********** bouton **********/

.button {
    display: flex;
    justify-content: end;
    margin-top: 5%;
}
.text button {
    border-radius: 15px;
    padding: 3%;
}

.text a {
    color: black;
}

.button button:hover {
    background: bisque;
    box-shadow: 8px 8px 12px #aaa;
    cursor: pointer;
}


@media screen and (min-width: 700px) {

  .presentation {
    display: flex;
    flex-direction: row-reverse;
  }

    .activitie1, .activitie2, .activitie3 {
        display: flex;
        border: none;
        justify-content: center;
        margin-bottom: 3%;
    }

    .activitie2 {
        flex-direction: row-reverse;
    }

    .activitie2 img {
        margin-right: 5%
    }

    .imgs {
        align-self: center;
    }

    .imgs img {
        max-width: 85%;
    }
    .text {
        width:45%;
        margin-left: 12px;
        margin-right: 12px;
        align-self: center;
    }

    .text p {
        font-size: 20px;
    }
}

/* début css claire */
/*mobile*/



h1, h2 , h3 {
    
  font-family: 'Stick No Bills', sans-serif;

}


p {
  font-family: 'Stick No Bills', sans-serif;
 
}

.img_team {
  width: 80%;
  box-shadow: 8px 8px 12px #aaa;
  border-radius: 10px;
  margin-left: 25px;
  margin-right: 15px;
  margin-top: 20px;
}

aside {
  margin-top: 20px;
}

.h2team{
  text-align: center;
}




/* Slideshow container */
.slideshow-container {
max-width: 1000px;
position: relative;
margin: auto;
}

/* Hide the images by default */
.mySlides {
display: none;
}

/* Next & previous buttons */


/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 20px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

/* Caption text */

.teamtext {
color: black;
font-size: 15px;
width: 100%;
text-align: center;
background-color: wheat;
border-radius: 20px;
margin-top:20px;
box-shadow: 8px 8px 12px #aaa;
height: auto;


}


.prev, .next {
cursor: pointer;
position: absolute;
top: 200px;
width: auto;
margin-top: -22px;
padding: 16px;
color: wheat;
background-color: rgba(10, 9, 9, 0.192);
font-weight: bold;
font-size: 30px;
transition: 0.6s ease;
border-radius: 20px;
user-select: none;
opacity: rgba(255, 255, 255, 0.87);
margin-left: -5px;
}

.container-prev-next{
   position:relative
}

/* Number text (1/5 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 20px;
  width: 20px;
  margin: 0 2px;
  background-color:#000000;
  display: inline-block;
  transition: background-color 0.6s ease;
  border-radius: 70px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.active, .dot:hover {
background-color: rgb(212, 168, 126);
border : 1px, solid, black;
}

/* Fading animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}

@-webkit-keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}   

/*pc bureau*/

@media screen and (min-width : 700px){

  .teamtext {
    
      font-size: 20px;
      padding: 8px 12px;
      top: 600px;
     
      
  }


  .prev, .next {
      
      top: 600px;
      font-size: 50px;
  }
 
    
    
  .dot {
          
          height: 50px;
          width: 50px;
          
        }
  
}
/* fin css claire */
